<div class="list-page" layout-gt-sm="row" layout-wrap flex-gt-sm="500">
    <div>
        <md-toolbar layout="row" class="md-hue-2">
            <md-button class="md-fab" aria-label="add" ng-click="openAddList($event)">
                <md-icon md-font-icon="icon-add" aria-label="Add" class="icon_add md-secondary md-hue-3 ml-15">add</md-icon>
            </md-button>
            <div class="md-toolbar-tools">
                <span class="mt-4">List of Lists</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list>
                <div layout="column" layout-wrap layout-align="start strech">
                    <md-list-item ng-repeat="list in lists " class="noright">
                        <div layout="row" flex="100">
                            <i class="material-icons  my-face" md-ink-ripple>list</i>
                            <a ui-sref="lists.list({id: list.id })" ui-sref-active="active" class="mt-2">{{list.title}}</a>
                        </div>
                        <div flex="300">
                            <!----md-icon md-font-icon="icon-delete" ng-style="{ 'font-size':'26px',height:'28px'}" aria-label="Delete" ng-click="openDeleteList(list,$event)">delete</md-icon-->
                            <md-icon md-font-icon="icon-edit" ng-style="{ 'font-size':'26px'}" aria-label="Edit" ng-click="openAddList($event,list)" class="icon_edit md-secondary md-hue-3">edit</md-icon>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </div>
            </md-list>
        </md-content>
    </div>
    <md-divider></md-divider>

    <ui-view></ui-view>

</div>